@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset de CSS */
/* ------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background-color: #F5F5F5;
    line-height: 1.4em;
    font-size: 100%;
}

header {
    background-color: #62249b;
}

img {
    max-width: 100%;
}

.header_menu {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.toogle_menu {
    width: 25px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.header_menu .title_menu {
    padding: 1rem;
}

.header_menu .title_menu a {
    font-weight: 700;
    font-size: 25px;
    color: #F5F5F5;
}

.header_menu .navbar ul {
    display: flex;
    flex-direction: row;
}

.header_menu .navbar a {
    font-size: 17px;
    font-weight: bold;
    color: #F5F5F5;
    padding: 20px;
    display: block;
}

.header_content {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_intro {
    color: #F5F5F5;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0 auto;
}

.content_intro h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content_intro h2 {
    font-size: 15px;
}

.content_intro p {
    font-size: 15px;
    text-transform: initial;
    margin-top: 22px;
}

.content_img {
    margin: 3em auto 2em;
}

.header_content .img_header {
    width: 170px;
}

.header_content .img_icon1 {
    width: 3rem;
    margin-bottom: 8rem;
}

.header_content .img_icon2 {
    width: 2rem;
    margin-bottom: 13rem;
}

.header_content .img_icon3 {
    width: 3.5rem;
    margin-bottom: 10rem;
}

.section_services {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.9rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.service {
    text-align: center;
    background-color: #263238;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 12rem;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.802);
}

.service img {
    width: 2.9rem;
    margin-bottom: 0.5rem;
}

.service h3 {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 10px;
}

.section_courses {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    color: #263238;
}

.section_courses h2 {
    font-size: 40px;
}

.courses {
    margin-top: 6rem;
    margin-bottom: 8rem;
    background-color: #62249b;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    box-shadow: 0 8px 30px 0 rgba(3, 3, 3, 0.801);
}

.courses img {
    width: 15rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.course-1 {
    text-align: left;
}

.course-1 h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #F5F5F5;
    font-weight: bold;
}

.course-1 p {
    font-size: 16px;
    color: #263238;
    margin-bottom: 25px;
    color: #F5F5F5;
    font-weight: 500;
    margin-right: 5rem;
    text-align: justify;
}

.course-2 {
    text-align: right;
}

.course-2 h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #F5F5F5;
    font-weight: bold;
}

.course-2 p {
    font-size: 16px;
    margin-bottom: 25px;
    color: #F5F5F5;
    font-weight: 500;
    margin-left: 5rem;
    text-align: justify;
}

.btn_info {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #62249b;
    font-weight: bold;
}

.section_contact {
    max-width: 68.75rem;
    margin: 0 auto;
    max-height: 15rem;
}

.section_form {
    top: 3.8rem;
    width: 45rem;
    position: relative;
    border-radius: .3125rem;
    background-color: #263238;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.772);
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.section_form img {
    width: 16rem;
    margin: 3rem;
}

.form_contact {
    text-align: center;
}

.form_contact h2 {
    margin-bottom: 2rem;
}

.form_contact input {
    border: none;
    border-bottom: .0625rem solid #F5F5F5;
    background-color: #263238;
    font-weight: bold;
    border-radius: .125rem;
}

.form_contact button {
    padding: .3125rem 3.75rem;
    margin-top: 1.9rem;
    border-radius: .3125rem;
    background-color: #F5F5F5;
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #62249b;
    padding-top: 12.7rem;
}

.footer_menu {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_menu h2 {
    color: #F5F5F5;
    font-size: 1.25em;
    margin-right: 6rem;
}

.footer_menu a {
    color: #F5F5F5;
    font-size: .8125em;
    margin: .625rem;
}

.footer_menu p {
    color: #F5F5F5;
    font-size: .8125em;
    margin: .625rem;
}

@media screen and (max-width: 768px) {

    .header_menu .navbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header_menu .navbar ul {
        flex-direction: column;
        align-items: end;
    }

    .header_menu .navbar li {
        display: none;
    }

    .header_content .content_intro {
        text-align: center;
        margin: 2.5rem auto;
    }

    .header_content .content_intro h1 {
        line-height: 1em;
    }

    .content_img {
        display: none;
    }

    .section_services {
        grid-template-columns: repeat(2, 1fr);
        padding: 11rem auto;
    }

    .service {
        margin: 0.5rem;
        width: 10rem;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.702);
    }

    .section_courses h2 {
        font-size: 1.6em;
    }

    .section_courses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .courses {
        width: 24rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }

    .course-1 p {
        margin: 1rem;
        text-align: center;
    }

    .course-1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .course-2 p {
        margin: 1rem;
        text-align: center;
    }

    .course-2 {
        text-align: center;
        margin-top: 2rem;
    }

    .courses img {
        width: 12rem;
    }

}

@media screen and (max-width: 1024px) {

}

@media screen and (min-width: 768px) {
    .toogle_menu {
        display: none;
    }
}
