@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset de CSS */
/* ------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #62249b;
}

/* Inicio Estilos-Index */
/* ------------------------------- */

nav.navbar {
    max-width: 68.75rem;
    margin: 0 auto;
    background-color: #62249b;
}

.container-fluid a {
    color: #F5F5F5;
    font-weight: bold;
    font-size: 1.0625em;
    margin-left: 1.5rem;
}

.container-fluid a:hover {
    color: #263238;
}

.container-fluid .navbar-brand:hover {
    color: #F5F5F5;
}

.container-fluid .collapse {
    justify-content: end;
}

.container-fluid .navbar-brand {
    margin: 0;
    color: #F5F5F5;
    font-size: 1.5625rem;
}

.navbar-toggler {
    border: none;
    color: #62249b;
    background-color: #F5F5F5;
}

/* ------------------------------- */

.content {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.content_intro {
    max-width: 50%;
    margin: 0 auto;
    color: #F5F5F5;
}

.content_intro h1 {
    font-weight: bold;
    font-size: 1.875em;
}

.content_intro p {
    margin-top: 1.25rem;
    font-size: .875em;
    font-weight: bold;
    text-transform: uppercase;
}

.img_content {
    margin: 3rem auto 2rem;
    width: 21.875rem;
    animation: float 2.8s ease-in-out infinite;
}

/* ------------------------------- */

.section_services {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1.5625rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.service {
    text-align: center;
    background-color: #263238;
    cursor: pointer;
    width: 12rem;
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: .375rem;
    transition: 0.5s;
    box-shadow: 0 .5rem 1.875rem 0 rgba(0, 0, 0, 0.802);
}

.service:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.service img {
    margin-top: .5rem;
    width: 2.9rem;
}

.service h3 {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .9375em;
    margin: .9375rem auto .9375rem;
}

/* ------------------------------- */

.section_courses {
    margin: 4.375rem auto;
    overflow-x: hidden;
}

.section_courses h2 {
    font-size: 2.1875rem;
    font-weight: bold;
    text-align: center;
    color: #263238;
}

.courses {
    color: #F5F5F5;
    background-color: #62249b;
    box-shadow: 0 .5rem 1.8rem 0 rgba(3, 3, 3, 0.801);
    border-radius: 1rem;
    margin: 6rem 5rem 8rem;

    display: flex;
    align-items: center;
}

.one {
    transform: translateX(-100%);
    transition: transform 0.8s ease-out;
}

.two {
    transform: translateX(100%);
    transition: transform 0.8s ease-out;
}

.courses:nth-child(odd) {
    transform-origin: left;
}

.courses:nth-child(even) {
    transform-origin: right;
}

.courses.animate {
    transform: translateX(0%);
}

.courses img {
    width: 15rem;
    margin: 1.25rem 3.125rem 1.25rem 3.125rem;
}

.courses p {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1.5625rem;
}

.courses h3 {
    font-size: 1.5625em;
    margin-bottom: .625rem;
    font-weight: bold;
}

.course-1 p {
    margin-right: 5rem;
}

.course-2 p {
    margin-left: 5rem;
}

.course-2 {
    text-align: right;
}

.btn_info {
    color: #62249b;
    background-color: #F5F5F5;
    font-weight: bold;
    text-decoration: none;
    padding: .9375rem 1.5625rem;
    border-radius: .625rem;
    transition: 0.5s;

    display: inline-block;
}

.btn_info:hover {
    color: #F5F5F5;
    background-color: #263238;
    transition: 0.5s;
}

/* ------------------------------- */

.section_contact {
    max-width: 68.75rem;
    max-height: 15rem;
    margin: 0 auto;
}

.section_form {
    background-color: #263238;
    box-shadow: 0 .5rem 1.875rem 0 rgba(0, 0, 0, 0.772);
    border-radius: .3125rem;
    position: relative;
    margin: 0 auto;
    width: 45rem;
    top: 3.8rem;
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.section_form:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.courses img {
    width: 15rem;
    margin: 1.25rem 3.125rem 1.25rem 3.125rem;
}

.section_form img {
    width: 16rem;
    margin: 3rem;
}

.form_contact {
    text-align: center;
}

.form_contact h2 {
    color: #F5F5F5;
    font-size: 1.5625em;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form_contact input {
    border: none;
    border-bottom: .0625rem solid #F5F5F5;
    background-color: #263238;
    font-weight: bold;
    border-radius: .125rem;
    color: #F5F5F5;
    margin-bottom: 1rem;
    width: 16.875rem;
    outline: none;
}

.form_contact button {
    padding: .3125rem 3.75rem;
    margin-top: 1.9rem;
    border-radius: .3125rem;
    background-color: #F5F5F5;
    color: #263238;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.form_contact button:hover {
    color: #F5F5F5;
    background-color: #62249b;
    transition: 0.5s;
}

/* ------------------------------- */

footer {
    padding-top: 12.7rem;
    background-color: #62249b;
}

.footer_menu {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_menu h2 {
    color: #F5F5F5;
    font-size: 1.25em;
    font-weight: bold;
    margin: .625rem 4.375rem .625rem 0;
}

.footer_menu a {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
}

.footer_menu p {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
}

.footer_pages {
    background-color: #62249b;
    padding-top: 1.25rem;
    bottom: 0;
}

/* ------------------------------- */
/* ---- Inicio estilos-cursos ---- */
/* ------------------------------- */

.header_courses {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_courses img {
    width: 23rem;
    margin: 0.5rem 5rem 0.5rem 0;
    animation: float 2.8s ease-in-out infinite;
}

.content_courses {
    color: #F5F5F5;
    font-weight: bold;
    margin-left: 3.4375rem;
    max-width: 100%;
}

.content_courses h1 {
    font-size: 1.875em;
    font-weight: bold;
}

.content_courses p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.btn_plans {
    color: #62249b;
    background-color: #F5F5F5;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 4.5rem;
    border-radius: 0.3rem;
    margin-top: 3rem;
    transition: 0.5s;
}

.btn_plans:hover {
    color: #F5F5F5;
    background-color: #263238;
    transition: 0.5s;
}

.btn_login {
    color: #62249b;
    background-color: #F5F5F5;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 2.2rem;
    border-radius: 0.3rem;
    margin-left: 2rem;
    transition: 0.5s;
}

.btn_login:hover {
    color: #F5F5F5;
    background-color: #263238;
    transition: 0.5s;
}

/* ------------------------------- */

.courses_container {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course {
    color: #263238;
    cursor: pointer;
    width: 32rem;
    padding: 3rem;
    margin: 6rem 0 4rem 0;
    border-radius: 0.7rem;
    transition: 0.5s;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.25);
}

.course:hover {
    color: #F5F5F5;
    background: #263238;
    transform: scale(1.1);
    transition: 0.5s;
}

.course h2 {
    font-weight: bold;
}

.course ul {
    margin: 1.5625rem 0;
}

.course p {
    color: #adadad;
    font-weight: bold;
    font-size: 0.85em;
}

/* ------------------------------- */

.courses_info {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    cursor: pointer;
    margin: 3rem;
    width: 26rem;
    padding: 1.5rem;
    border-radius: 0.6rem;
    transition: 0.5s;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
    background-color: #263238;
}

.info:hover {
    transform: translateX(-10%);
    transition: 0.5s;
}

.courses_info p {
    margin: 0;
    color: #F5F5F5;
    text-align: center;
    font-weight: bold;
}

.courses_info img {
    width: 35rem;
    animation: float 2.8s ease-in-out infinite;
}

/* ------------------------------- */

.courses_coming {
    max-width: 68.75rem;
    margin: 5rem auto 7rem;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.courses_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.courses_coming h4 {
    color: #263238;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.course_coming {
    background-color: #263238;
    padding: 1.25rem 1.25rem;
    margin: 1.25rem 1.25rem;
    border-radius: .3125rem;
    transition: 0.5s;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
    width: 8rem;
    cursor: pointer;
}

.course_coming:hover {
    background-color: #455a64;
    transform: scale(1.1);
    transition: 0.5s;
}

.course_coming img {
    width: 2.5rem;
}

/* ------------------------------- */
/* ---- Inicio estilos-planes ---- */
/* ------------------------------- */

.section_plans {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plans {
    color: #F5F5F5;
    background-color: #263238;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.57);
}

.plans h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.plans h3 {
    color: #b47de8;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.plans ul {
    margin-top: 1.5rem;
}

.plans ul li p {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.section_plans button {
    color: #263238;
    font-weight: bold;
    background-color: #F5F5F5;
    display: inline-block;
    padding: 0.4rem 4rem;
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
}

.section_payment {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.payment {
    margin-left: 21rem;
    color: #263238;
    font-weight: bold;

    display: flex;
    align-items: center;
}

.payment img {
    width: 2rem;
    margin-left: 1rem;
}

/* ------------------------------- */
/* ---- Inicio estilos-about ---- */
/* ------------------------------- */

.header_about {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_about img {
    width: 23rem;
    margin-right: 3.75rem;
}

.content_about {
    color: #F5F5F5;
    font-weight: bold;
    margin-left: 3.4375rem;
    max-width: 50%;
}

.content_about h1 {
    font-size: 1.875em;
    font-weight: bold;
}

.content_about p {
    margin-top: 1rem;
    font-size: 0.9em;
}

/* ------------------------------- */

.section_companies {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_companies h2 {
    color: #263238;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 2.8125rem;
}

.section_company {
    margin-top: 1.25rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.8125rem;
}

.company {
    text-align: center;
    background-color: #263238;
    padding: 1rem;
    width: 7rem;
    border-radius: 0.3rem;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
}

.company img {
    width: 2.5rem;
}

/* ------------------------------- */

.section_mission {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_mission h2 {
    color: #263238;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 8.75rem;
}

.mission {
    margin: 2.5rem 0;
    padding: 1rem;
    width: 90vw;
    border-radius: 0.5rem;
    background-color: #62249b;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.57);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mission_text {
    color: #F5F5F5;
    margin-right: 4rem;
    max-width: 50%;
}

.mission_text h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 2.125rem;
}

.mission_text p {
    font-size: 0.8em;
}

.mission img {
    width: 22rem;
    margin: 0 3rem 0 2rem;
}

/* ------------------------------- */

.section_values {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_values h2 {
    color: #263238;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5rem;
}

.values {
    margin: 2.5rem 0 8.75rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.8125rem;
}

.value {
    color: #F5F5F5;
    background-color: #263238;
    border-radius: 0.3rem;
    text-align: center;
    width: 20rem;
    padding: 1rem;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
}

.value p {
    margin: 2rem;
    font-size: 0.9em;
    font-weight: bold;
}

.value img {
    width: 4.2rem;
    margin-top: 2rem;
}

/* ------------------------------- */
/* ---- Inicio estilos-log in ---- */
/* ------------------------------- */

.main_login {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main_login .img_login {
    width: 26rem;
    margin: 5rem 8rem 5rem 0;
}

.main_form {
    display: flex;
    flex-direction: column;
}

.main_form h2 {
    color: #263238;
    font-size: 1.625em;
    font-weight: bold;
    margin-bottom: 2.8125rem;
}

.main_form .input_form {
    border: none;
    border-bottom: .0625rem solid #263238;
    background-color: #F5F5F5;
    margin-bottom: 1.5rem;
}

.main_form label {
    color: #263238;
    font-weight: bold;
    font-size: .8125em;
}

.main_form button {
    border: none;
    border-radius: .1875rem;
    cursor: pointer;
    color: #F5F5F5;
    background-color: #62249b;
    font-weight: bold;
    padding: .5625rem 4.375rem;
    margin-top: 3rem;
}

.accounts_login {
    color: #263238;
    font-weight: bold;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accounts_login h3 {
    color: #263238;
    font-size: 1.125em;
    font-weight: bold;
    margin: 0;
}

.accounts_login img {
    width: 1.6rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: .9375rem;
}

@media screen and (max-width: 1024px) {

    .section_services {
        grid-template-columns: repeat(3, 1fr);
    }

    .service {
        width: 11.875rem;
    }

    .courses {
        width: 56rem;
    }

    .courses_info {
        flex-direction: column;
    }

    .content_courses p {
        max-width: 85%;
    }

    .courses_container {
        justify-content: center;
    }

    .course {
        width: 28rem;
        margin: 6rem 1rem 4rem 1rem;
    }

    .value {
        width: 18.125rem;
    }
}

@media screen and (max-width: 926px) {

    .courses {
        width: 53rem;
    }

    .footer_menu a {
        margin: .5rem;
    }

    .header_courses img {
        margin-right: 1.5rem;
    }

    .content_courses p {
        max-width: 95%;
    }

    .courses_container {
        justify-content: center;
    }

    .course {
        width: 25rem;
        margin: 6rem 1rem 4rem 1rem;
    }

    .value {
        width: 16.25rem;
    }

    .main_login .img_login {
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 768px) {

    .content .content_intro {
        text-align: center;
        margin: 2.5rem auto;
        max-width: 70%;
    }

    .content img {
        display: none;
    }

    .section_services {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .service {
        width: 11.25rem;
        margin: 0.5rem;
        box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.702);
    }

    .section_courses h2 {
        font-size: 1.6em;
    }

    .section_courses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .courses {
        width: 23rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }

    .course-1 p {
        margin: 2rem;
        text-align: justify;
    }

    .course-1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .course-2 p {
        margin: 2rem;
        text-align: justify;
    }

    .course-2 {
        text-align: center;
        margin-top: 2rem;
    }

    .courses img {
        width: 12rem;
    }

    .section_form img {
        display: none;
    }

    .section_contact .section_form {
        width: 23rem;
        display: flex;
        justify-content: center;
    }

    .form_contact {
        padding: 3.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer_menu h2 {
        margin: 0;
        margin-bottom: 1rem;
    }

    /* ------------------------------- */

    .content_courses {
        text-align: center;
        margin: 2.5rem auto;
        max-width: 75%;
    }

    .btn_plans {
        margin-top: 2rem;
    }

    .btn_login {
        margin: 1.5rem 0 0;
    }

    .header_courses img {
        display: none;
    }

    .courses_container {
        flex-direction: column;
    }

    .course {
        max-width: 85%;
        margin-top: 3.125rem;
        text-align: center;
    }

    .course ul {
        text-align: start;
    }

    .courses_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        margin: 3.125rem 0;
        width: 21.875rem;
    }

    .courses_info img {
        max-width: 85%;
    }

    /* ------------------------------- */

    .header_about img {
        display: none;
    }

    .content_about {
        margin: 40px;
        max-width: 100%;
    }

    .content_about h1 {
        text-align: center;
    }

    .content_about p {
        text-align: center;
    }

    .section_companies h2 {
        font-size: 1em;
    }

    .section_company {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.8rem;
        grid-row-gap: 1.5rem;
    }

    .section_mission h2 {
        font-size: 1.2em;
        margin-top: 7rem;
    }

    .mission {
        width: 85%;
        flex-direction: column;
    }

    .mission_text {
        text-align: justify;
        margin: .9375rem;
        max-width: 100%;
    }

    .mission img {
        width: 17rem;
    }

    .section_values h2 {
        font-size: 1.2em;
    }

    .values {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2.8125rem;
    }

    /* ------------------------------- */

    .main_login .img_login {
        display: none;
    }

    .main_form {
        margin: 6rem 0;
        max-width: 60%;
    }

    .main_form h2 {
        text-align: center;
    }

    .main_form .input_form {
        border: none;
        border-bottom: .0625rem solid #263238;
        background-color: #F5F5F5;
        margin-bottom: 1.5rem;
    }

    .main_form label {
        color: #263238;
        font-weight: bold;
        font-size: .8125em;
    }

    .main_form button {
        border: none;
        border-radius: .1875rem;
        cursor: pointer;
        color: #F5F5F5;
        background-color: #62249b;
        font-weight: bold;
        padding: .5625rem 4.375rem;
        margin-top: 3rem;
    }

    .accounts_login {
        color: #263238;
        font-weight: bold;
        margin-top: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .accounts_login h3 {
        color: #263238;
        font-size: 1.125em;
        font-weight: bold;
        margin: 0;
    }

    .accounts_login img {
        width: 1.6rem;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: .9375rem;
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -8px);
    }

    100% {
        transform: translate(0, 0);
    }
}