@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset de CSS */
/* ------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #62249b;
}

/* Inicio Estilos-Index */
/* ------------------------------- */

nav.navbar {
    max-width: 68.75rem;
    margin: 0 auto;
    background-color: #62249b;
}

.container-fluid a {
    color: #F5F5F5;
    font-weight: bold;
    font-size: 1.0625em;
    margin-left: 1.5rem;
}

.container-fluid a:hover {
    color: #263238;
}

.container-fluid .collapse {
    justify-content: end;
}

.container-fluid .navbar-brand {
    margin: 0;
    color: #F5F5F5;
    font-size: 1.5625rem;
}

.navbar-toggler {
    border: none;
    color: #62249b;
    background-color: #F5F5F5;
}

/* ------------------------------- */

.content {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.content_intro {
    max-width: 50%;
    margin: 0 auto;
    color: #F5F5F5;
}

.content_intro h1 {
    font-weight: bold;
    font-size: 1.875em;
}

.content_intro p {
    margin-top: 1.25rem;
    font-size: .875em;
    font-weight: bold;
    text-transform: uppercase;
}

.content img {
    margin: 3rem auto 2rem;
    width: 21.875rem;
}

/* ------------------------------- */

.section_services {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1.5625rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.service {
    text-align: center;
    background-color: #263238;
    width: 12rem;
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: .375rem;
    box-shadow: 0 .5rem 1.875rem 0 rgba(0, 0, 0, 0.802);
}

.service img {
    margin-top: .5rem;
    width: 2.9rem;
}

.service h3 {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .9375em;
    margin: .9375rem auto .9375rem;
}

/* ------------------------------- */

.section_courses {
    max-width: 68.75rem;
    margin: 4.375rem auto;
}

.section_courses h2 {
    font-size: 2.1875rem;
    font-weight: bold;
    text-align: center;
    color: #263238;
}

.courses {
    color: #F5F5F5;
    background-color: #62249b;
    box-shadow: 0 .5rem 1.875rem 0 rgba(3, 3, 3, 0.801);
    border-radius: 1rem;
    margin: 6rem auto 8rem;

    display: flex;
    align-items: center;
}

.courses img {
    width: 15rem;
    margin: 1.25rem 3.125rem 1.25rem 3.125rem;
}

.courses p {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 1.5625rem;
}

.courses h3 {
    font-size: 1.5625em;
    margin-bottom: .625rem;
    font-weight: bold;
}

.course-1 p {
    margin-right: 5rem;
}

.course-2 p {
    margin-left: 5rem;
}

.course-2 {
    text-align: right;
}

.btn_info {
    color: #62249b;
    background-color: #F5F5F5;
    font-weight: bold;
    text-decoration: none;
    padding: .9375rem 1.5625rem;
    border-radius: .625rem;

    display: inline-block;
}

/* ------------------------------- */

.section_contact {
    max-width: 68.75rem;
    max-height: 15rem;
    margin: 0 auto;
}

.section_form {
    background-color: #263238;
    box-shadow: 0 .5rem 1.875rem 0 rgba(0, 0, 0, 0.772);
    border-radius: .3125rem;
    position: relative;
    margin: 0 auto;
    width: 45rem;
    top: 3.8rem;

    display: flex;
    align-items: center;
}

.section_form img {
    width: 16rem;
    margin: 3rem;
}

.form_contact {
    text-align: center;
}

.form_contact h2 {
    color: #F5F5F5;
    font-size: 1.5625em;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form_contact input {
    border: none;
    border-bottom: .0625rem solid #F5F5F5;
    background-color: #263238;
    font-weight: bold;
    border-radius: .125rem;
    color: #F5F5F5;
    margin-bottom: 1rem;
    width: 270px;
    outline: none;
}

.form_contact button {
    padding: .3125rem 3.75rem;
    margin-top: 1.9rem;
    border-radius: .3125rem;
    background-color: #F5F5F5;
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------------------- */

footer {
    padding-top: 12.7rem;
    background-color: #62249b;
}

.footer_menu {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_menu h2 {
    color: #F5F5F5;
    font-size: 1.25em;
    font-weight: bold;
    margin: .625rem 4.375rem .625rem 0;
}

.footer_menu a {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
}

.footer_menu p {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
}

/* ------------------------------- */
/* Inicio Estilos-Cursos */
/* ------------------------------- */

.header_courses {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_courses img {
    width: 23rem;
    margin: 0.5rem 5rem 0.5rem 0;
}

.content_courses {
    color: #F5F5F5;
    font-weight: bold;
    margin-left: 3.4375rem;
    max-width: 100%;
}

.content_courses h1 {
    font-size: 1.875em;
    font-weight: bold;
}

.content_courses p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.btn_plans {
    color: #62249b;
    background-color: #F5F5F5;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 4.5rem;
    border-radius: 0.3rem;
    margin-top: 3rem;
}

.btn_login {
    color: #F5F5F5;
    background-color: #263238;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 2.2rem;
    border-radius: 0.3rem;
    margin-left: 2rem;
}

/* ------------------------------- */

.courses_container {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course {
    color: #263238;
    width: 32rem;
    padding: 3rem;
    margin: 6rem 0 4rem 0;
    border-radius: 0.7rem;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.25);
}

.course h2 {
    font-weight: bold;
}

.course ul {
    margin: 1.5625rem 0;
}

.course p {
    color: #505050;
    font-weight: normal;
    font-size: 0.85em;
}

/* ------------------------------- */

.courses_info {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin: 3rem;
    width: 26rem;
    padding: 1.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
    background-color: #263238;
}

.courses_info p {
    margin: 0;
    color: #F5F5F5;
    text-align: center;
    font-weight: bold;
}

.courses_info img {
    width: 35rem;
}

/* ------------------------------- */

.courses_coming {
    max-width: 68.75rem;
    margin: 5rem auto 7rem;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.courses_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.courses_coming h4 {
    color: #263238;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.course_coming {
    background-color: #263238;
    padding: 1.25rem 1.25rem;
    margin: 1.25rem 1.25rem;
    border-radius: .3125rem;
    box-shadow: 0 .5rem 1.25rem 0 rgba(0, 0, 0, 0.57);
    width: 8rem;
    cursor: pointer;
}

.course_coming img {
    width: 2.5rem;
}

/* ------------------------------- */

.footer_menu {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_menu h2 {
    color: #F5F5F5;
    font-size: 1.25em;
    font-weight: bold;
    margin: .625rem 4.375rem .625rem 0;
}

.footer_menu p {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
    font-size: .8125em;
}

.footer_menu a {
    color: #F5F5F5;
    font-weight: bold;
    font-size: .8125em;
    margin: .625rem;
}

.footer_pages {
    background-color: #62249b;
    bottom: 0;
}

/* ------------------------------- */

@media screen and (max-width: 1024px) {

    .section_services {
        grid-template-columns: repeat(3, 1fr);
    }

    .service {
        width: 190px;
    }

    .courses {
        width: 56rem;
    }
}

@media screen and (max-width: 926px) {

    .courses {
        width: 53rem;
    }

    .footer_menu a {
        margin: .5rem;
    }
}

@media screen and (max-width: 768px) {

    .content .content_intro {
        text-align: center;
        margin: 2.5rem auto;
        max-width: 70%;
    }

    .content img {
        display: none;
    }

    .section_services {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .service {
        width: 11.25rem;
        margin: 0.5rem;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.702);
    }

    .section_courses h2 {
        font-size: 1.6em;
    }

    .section_courses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .courses {
        width: 23rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
    }

    .course-1 p {
        margin: 2rem;
        text-align: justify;
    }

    .course-1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .course-2 p {
        margin: 2rem;
        text-align: justify;
    }

    .course-2 {
        text-align: center;
        margin-top: 2rem;
    }

    .courses img {
        width: 12rem;
    }

    .section_form img {
        display: none;
    }

    .section_contact .section_form {
        width: 23rem;
        display: flex;
        justify-content: center;
    }

    .form_contact {
        padding: 3.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer_menu h2 {
        margin: 0;
        margin-bottom: 1rem;
    }
}