footer {
    padding-top: 12.7rem;
    background-color: $color-primary;

    .footer_menu {

        @include max-width-margin;
        @include center-horizontal;
        padding: 1rem;

        h2 {
            color: $color-background;
            font-size: 1.25em;
            font-weight: bold;
            margin: .625rem 4.375rem .625rem 0;
        }

        a,
        p {
            color: $color-background;
            font-weight: bold;
            font-size: .8125em;
            margin: .625rem;
        }
    }
}

.footer_pages {
    background-color: $color-primary;
    padding-top: 1.25rem;
    bottom: 0;
}