/* -------- Index Header --------- */
/* ------------------------------- */

.header-index {
    @include max-width-margin;
    @include center-space;

    &__intro {
        max-width: 50%;
        margin: 0 auto;
        color: $color-background;

        h1 {
            font-weight: bold;
            font-size: 1.875em;
        }

        p {
            margin-top: 1.25rem;
            font-size: .875em;
            font-weight: bold;
        }
    }

    &__img {
        margin: 3rem auto 2rem;
        @include animate(float, 2.8s);
    }
}

/* ------- Courses Header -------- */
/* ------------------------------- */

.header-courses {
    @include max-width-margin;
    @include center-space;

    img {
        margin: 0.5rem 5rem 0.5rem 0;
        @include animate(float, 2.8s);
    }

    &__intro {
        color: $color-background;
        font-weight: bold;
        margin-left: 3.4375rem;
        max-width: 100%;

        h1 {
            font-size: 1.875em;
            font-weight: bold;
        }

        p {
            margin-top: 1rem;
            font-size: 0.9rem;
        }

        .btn_plans {
            color: $color-primary;
            background-color: $color-background;
            text-decoration: none;
            display: inline-block;
            padding: 0.7rem 4.5rem;
            border-radius: 0.3rem;
            margin-top: 3rem;
            transition: 0.5s;

            &:hover {
                color: $color-background;
                background-color: $color-secondary;
                transition: 0.5s;
            }
        }

        .btn_login {
            color: $color-primary;
            background-color: $color-background;
            text-decoration: none;
            display: inline-block;
            padding: 0.7rem 2.2rem;
            border-radius: 0.3rem;
            margin-left: 2rem;
            transition: 0.5s;

            &:hover {
                color: $color-background;
                background-color: $color-secondary;
                transition: 0.5s;
            }
        }
    }
}

/* -------- About Header --------- */
/* ------------------------------- */

.header-about {
    @include max-width-margin;
    @include center-space;

    img {
        margin-right: 3.75rem;
        @include animate(float, 2.8s);
    }

    &__intro {
        color: $color-background;
        font-weight: bold;
        margin-left: 3.4375rem;
        max-width: 50%;

        h1 {
            font-size: 1.875em;
            font-weight: bold;
        }

        p {
            margin-top: 1rem;
            font-size: 0.9em;
        }
    }
}